In [6]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction import DictVectorizer
pd.__version__

In [2]:
yellowTaxiRecords=pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet');
yellowTaxiRecords

ImportError: Unable to find a usable engine; tried using: 'pyarrow', 'fastparquet'.
A suitable version of pyarrow or fastparquet is required for parquet support.
Trying to import the above resulted in these errors:
 - Missing optional dependency 'pyarrow'. pyarrow is required for parquet support. Use pip or conda to install pyarrow.
 - Missing optional dependency 'fastparquet'. fastparquet is required for parquet support. Use pip or conda to install fastparquet.

In [3]:
!pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-20.0.0-cp39-cp39-manylinux_2_28_x86_64.whl (42.3 MB)
     |████████████████████████████████| 42.3 MB 8.1 kB/s  eta 0:00:01
Installing collected packages: pyarrow
Successfully installed pyarrow-20.0.0

In [4]:
yellowTaxiRecords=pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet');
yellowTaxiRecords

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.30,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.90,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.90,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.10,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.40,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3066761,2,2023-01-31 23:58:34,2023-02-01 00:12:33,NaN,3.05,NaN,None,107,48,0,15.80,0.00,0.5,3.96,0.0,1.0,23.76,NaN,NaN
3066762,2,2023-01-31 23:31:09,2023-01-31 23:50:36,NaN,5.80,NaN,None,112,75,0,22.43,0.00,0.5,2.64,0.0,1.0,29.07,NaN,NaN
3066763,2,2023-01-31 23:01:05,2023-01-31 23:25:36,NaN,4.67,NaN,None,114,239,0,17.61,0.00,0.5,5.32,0.0,1.0,26.93,NaN,NaN
3066764,2,2023-01-31 23:40:00,2023-01-31 23:53:00,NaN,3.15,NaN,None,230,79,0,18.15,0.00,0.5,4.43,0.0,1.0,26.58,NaN,NaN
3066765,2,2023-01-31 23:07:32,2023-01-31 23:21:56,NaN,2.85,NaN,None,262,143,0,15.97,0.00,0.5,2.00,0.0,1.0,21.97,NaN,NaN

In [5]:
yellowFebTaxiRecords=pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet');
yellowFebTaxiRecords

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2023-02-01 00:32:53,2023-02-01 00:34:34,2.0,0.30,1.0,N,142,163,2,4.40,3.50,0.5,0.00,0.0,1.0,9.40,2.5,0.00
1,2,2023-02-01 00:35:16,2023-02-01 00:35:30,1.0,0.00,1.0,N,71,71,4,-3.00,-1.00,-0.5,0.00,0.0,-1.0,-5.50,0.0,0.00
2,2,2023-02-01 00:35:16,2023-02-01 00:35:30,1.0,0.00,1.0,N,71,71,4,3.00,1.00,0.5,0.00,0.0,1.0,5.50,0.0,0.00
3,1,2023-02-01 00:29:33,2023-02-01 01:01:38,0.0,18.80,1.0,N,132,26,1,70.90,2.25,0.5,0.00,0.0,1.0,74.65,0.0,1.25
4,2,2023-02-01 00:12:28,2023-02-01 00:25:46,1.0,3.22,1.0,N,161,145,1,17.00,1.00,0.5,3.30,0.0,1.0,25.30,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2913950,2,2023-02-28 23:46:00,2023-03-01 00:05:00,NaN,4.65,NaN,None,249,140,0,20.22,0.00,0.5,4.84,0.0,1.0,29.06,NaN,NaN
2913951,2,2023-02-28 23:26:02,2023-02-28 23:37:10,NaN,2.47,NaN,None,186,79,0,13.66,0.00,0.5,2.65,0.0,1.0,20.31,NaN,NaN
2913952,2,2023-02-28 23:24:00,2023-02-28 23:38:00,NaN,3.49,NaN,None,158,143,0,17.64,0.00,0.5,0.00,0.0,1.0,21.64,NaN,NaN
2913953,2,2023-02-28 23:03:00,2023-02-28 23:10:00,NaN,2.13,NaN,None,79,162,0,13.56,0.00,0.5,2.63,0.0,1.0,20.19,NaN,NaN
2913954,2,2023-02-28 23:03:03,2023-02-28 23:12:51,NaN,2.28,NaN,None,161,140,0,14.89,0.00,0.5,3.78,0.0,1.0,22.67,NaN,NaN

In [7]:
std_dev = np.std(yellowTaxiRecords)
std_dev

/home/codespace/anaconda3/lib/python3.9/site-packages/numpy/core/fromnumeric.py:3579: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

VendorID                                  0.443848
tpep_pickup_datetime     9 days 15:29:50.866168325
tpep_dropoff_datetime    9 days 15:29:27.133325093
passenger_count                            0.89612
trip_distance                           249.583715
RatecodeID                                6.474766
PULocationID                              64.24412
DOLocationID                              69.94367
payment_type                              0.529476
fare_amount                              17.807819
extra                                     1.789592
mta_tax                                   0.103464
tip_amount                                3.826759
tolls_amount                              2.017579
improvement_surcharge                     0.183353
total_amount                             22.163585
congestion_surcharge                      0.771845
airport_fee                               0.355651
dtype: object

In [10]:
std_dev = yellowTaxiRecords.std(numeric_only=True)
print(f"Standard Deviation: \n{std_dev}")

Standard Deviation:
VendorID                   0.443848
passenger_count            0.896120
trip_distance            249.583756
RatecodeID                 6.474767
PULocationID              64.244131
DOLocationID              69.943682
payment_type               0.529476
fare_amount               17.807822
extra                      1.789592
mta_tax                    0.103464
tip_amount                 3.826759
tolls_amount               2.017579
improvement_surcharge      0.183353
total_amount              22.163589
congestion_surcharge       0.771845
airport_fee                0.355651
dtype: float64

In [12]:
print(pd.info())

AttributeError: module 'pandas' has no attribute 'info'

In [13]:
yellowTaxiRecords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3066766 entries, 0 to 3066765
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 444.6+ MB

In [14]:
print(yellowTaxiRecords.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3066766 entries, 0 to 3066765
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 444.6+ MB
None

In [17]:
numeric_data = yellowTaxiRecords.select_dtypes(include='number')
numeric_data

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,1.0,0.97,1.0,161,141,2,9.30,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,1.0,1.10,1.0,43,237,1,7.90,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,1.0,2.51,1.0,48,238,1,14.90,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,0.0,1.90,1.0,138,7,1,12.10,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,1.0,1.43,1.0,107,79,1,11.40,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3066761,2,NaN,3.05,NaN,107,48,0,15.80,0.00,0.5,3.96,0.0,1.0,23.76,NaN,NaN
3066762,2,NaN,5.80,NaN,112,75,0,22.43,0.00,0.5,2.64,0.0,1.0,29.07,NaN,NaN
3066763,2,NaN,4.67,NaN,114,239,0,17.61,0.00,0.5,5.32,0.0,1.0,26.93,NaN,NaN
3066764,2,NaN,3.15,NaN,230,79,0,18.15,0.00,0.5,4.43,0.0,1.0,26.58,NaN,NaN
3066765,2,NaN,2.85,NaN,262,143,0,15.97,0.00,0.5,2.00,0.0,1.0,21.97,NaN,NaN

In [20]:
variance = numeric_data.var()
variance
print(f"Variance of numeric columns: \n{variance}")

Variance of numeric columns:
VendorID                     0.197001
passenger_count              0.803031
trip_distance            62292.051293
RatecodeID                  41.922604
PULocationID              4127.308324
DOLocationID              4892.118583
payment_type                 0.280345
fare_amount                317.118522
extra                        3.202641
mta_tax                      0.010705
tip_amount                  14.644088
tolls_amount                 4.070625
improvement_surcharge        0.033618
total_amount               491.224675
congestion_surcharge         0.595745
airport_fee                  0.126488
dtype: float64

In [21]:
std_dev = numeric_data.std()
print(f"Standard Deviation of numeric columns: \n{std_dev}")

Standard Deviation of numeric columns:
VendorID                   0.443848
passenger_count            0.896120
trip_distance            249.583756
RatecodeID                 6.474767
PULocationID              64.244131
DOLocationID              69.943682
payment_type               0.529476
fare_amount               17.807822
extra                      1.789592
mta_tax                    0.103464
tip_amount                 3.826759
tolls_amount               2.017579
improvement_surcharge      0.183353
total_amount              22.163589
congestion_surcharge       0.771845
airport_fee                0.355651
dtype: float64

In [23]:
df=pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet');
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.30,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.90,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.90,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.10,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.40,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3066761,2,2023-01-31 23:58:34,2023-02-01 00:12:33,NaN,3.05,NaN,None,107,48,0,15.80,0.00,0.5,3.96,0.0,1.0,23.76,NaN,NaN
3066762,2,2023-01-31 23:31:09,2023-01-31 23:50:36,NaN,5.80,NaN,None,112,75,0,22.43,0.00,0.5,2.64,0.0,1.0,29.07,NaN,NaN
3066763,2,2023-01-31 23:01:05,2023-01-31 23:25:36,NaN,4.67,NaN,None,114,239,0,17.61,0.00,0.5,5.32,0.0,1.0,26.93,NaN,NaN
3066764,2,2023-01-31 23:40:00,2023-01-31 23:53:00,NaN,3.15,NaN,None,230,79,0,18.15,0.00,0.5,4.43,0.0,1.0,26.58,NaN,NaN
3066765,2,2023-01-31 23:07:32,2023-01-31 23:21:56,NaN,2.85,NaN,None,262,143,0,15.97,0.00,0.5,2.00,0.0,1.0,21.97,NaN,NaN

In [24]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

In [26]:
df['trip_duration'] = (df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']).dt.total_seconds() / 60
df['trip_duration']

0           8.433333
1           6.316667
2          12.750000
3           9.616667
4          10.833333
             ...
3066761    13.983333
3066762    19.450000
3066763    24.516667
3066764    13.000000
3066765    14.400000
Name: trip_duration, Length: 3066766, dtype: float64

In [27]:
std_trip_duration = df['trip_duration'].std()
std_trip_duration

42.594351241920904

In [28]:
filtered_df = df[(df['trip_duration'] >= 1) & (df['trip_duration'] <= 60)]

In [29]:
fraction_left = len(filtered_df) / len(df)

In [30]:
print(f"Fraction of records left after dropping outliers: {fraction_left * 100:.2f}%")

Fraction of records left after dropping outliers: 98.12%

In [31]:
df['pickup_location_id'] = df['pickup_location_id'].astype(str)
df['dropoff_location_id'] = df['dropoff_location_id'].astype(str)

KeyError: 'pickup_location_id'

In [32]:
df['pickup_location_id'] = df['pickup_location_id'].astype(str)  # Convert the IDs to strings
df['dropoff_location_id'] = df['dropoff_location_id'].astype(str)

KeyError: 'pickup_location_id'

In [33]:
print(df.columns)

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'airport_fee', 'trip_duration'],
      dtype='object')

In [34]:
df['tpep_pickup_datetime'] = df['tpep_pickup_datetime'].astype(str)  # Convert the IDs to strings
df['tpep_dropoff_datetime'] = df['tpep_dropoff_datetime'].astype(str)

In [35]:
# Replace with the correct column names
df['tpep_pickup_datetime'] = df['tpep_pickup_datetime'].astype(str)  # Correct to your actual column name
df['tpep_dropoff_datetime'] = df['tpep_dropoff_datetime'].astype(str)

In [36]:
data_dict = df[['tpep_pickup_datetime', 'tpep_dropoff_datetime']].to_dict(orient='records')

In [3]:
from sklearn.feature_extraction import DictVectorizer 
vectorizer = DictVectorizer(sparse=True)
X = vectorizer.fit_transform(vectorizer)
num_columns = X.shape[1]

TypeError: 'DictVectorizer' object is not iterable

In [1]:
num_columns = X.shape[1]

NameError: name 'X' is not defined

In [5]:
from sklearn.feature_extraction import DictVectorizer 
vectorizer = DictVectorizer(sparse=True)

X = vectorizer.fit_transform(vectorizer)

num_columns = X.shape[1]

TypeError: 'DictVectorizer' object is not iterable

In [10]:
import pandas as pd
df=pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet');
data_dict = df[['tpep_pickup_datetime', 'tpep_dropoff_datetime']].to_dict(orient='records')
vectorizer = DictVectorizer(sparse=True)
X = vectorizer.fit_transform(data_dict)
num_columns = X.shape[1]
print(f"Dimensionality of the feature matrix: {num_columns}")

TypeError: Unsupported value Type <class 'pandas._libs.tslibs.timestamps.Timestamp'> for tpep_pickup_datetime: 2023-01-01 00:32:10.
<class 'pandas._libs.tslibs.timestamps.Timestamp'> objects are not supported.

In [11]:
import pandas as pd
from sklearn.feature_extraction import DictVectorizer

# Step 1: Load the dataset (replace with the actual file path)
df = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet")  # Replace with your actual dataset file path

# Step 2: Check column names to verify if the necessary columns exist
print(df.columns)

# Step 3: Convert pickup and dropoff location IDs to strings (if necessary)
df['tpep_pickup_datetime'] = df['tpep_pickup_datetime'].astype(str)
df['tpep_dropoff_datetime'] = df['tpep_dropoff_datetime'].astype(str)

# Step 4: Create a list of dictionaries (only using the relevant columns)
data_dict = df[['tpep_pickup_datetime', 'tpep_dropoff_datetime']].to_dict(orient='records')

# Step 5: Initialize the DictVectorizer and fit_transform the data
vectorizer = DictVectorizer(sparse=True)
X = vectorizer.fit_transform(data_dict)

# Step 6: Get the number of columns (dimensionality of the feature matrix)
num_columns = X.shape[1]

# Step 7: Output the dimensionality of the feature matrix
print(f"Dimensionality of the feature matrix: {num_columns}")

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'airport_fee'],
      dtype='object')
Dimensionality of the feature matrix: 3222294

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression  # You can use any model you like
from sklearn.metrics import mean_squared_error
import numpy as np


df = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet")  # Replace with your actual dataset path
df

X = df.drop(columns=['duration'])  # Replace 'duration' with your actual target column
y = df['duration']  # Replace 'duration' with your actual target column

# Step 3: Split the data into training and test sets (optional, but useful for model evaluation)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Step 4: Initialize and train the model
model = LinearRegression()  # You can choose a different model if necessary
model.fit(X_train, y_train)

# Step 5: Predict on the training set
y_train_pred = model.predict(X_train)

# Step 6: Calculate RMSE on the training set
rmse_train = np.sqrt(mean_squared_error(y_train, y_train_pred))

# Step 7: Print the RMSE
print(f"RMSE on the training set: {rmse_train}")
{rmse_train}

KeyError: "['duration'] not found in axis"

In [1]:
print(f"RMSE on the training set: {rmse_train}")

NameError: name 'rmse_train' is not defined